.detalle{
    width: 100%; 
  }
  /* fuentes generales */
  .detalle main h1,
  h2,
  h4,
  p {
      font-family: var(--fuenteTitulos);
      color: black;
  }
  /* botones */
  .detalle main .princip {
  margin: 20px;
  }
  .detalle main button {
      background-color: var(--colorAzulFrancia);
      color: white;
      border-radius: 10px;
      margin-bottom: 20px;
      width: 20%;
  }
  /* producto principal */
  .detalle main .productoPrincipal{
      text-align: center;
      margin: 20px;
  }
  .detalle main .productoPrincipal .imagen-princ img{
      border-radius: 50px;
      border: 1px solid var(--colorNaranja);
      background-color: white;
  }
  .detalle main .prec-desc{
    display: flex;
    justify-content: center;
    align-items: center
  }
  .detalle main .precio {
    font-family: var(--fuenteTitulos);
    color: grey;
    font-size: 28px;
    text-decoration:line-through;
}
.detalle main .descuento {
  font-family: var(--fuenteTitulos);
  font-size: 20px;
  color: var( --colorNaranja);
  padding: 10px;
  
}
  .detalle main .card-discount {
      font-family: var(--fuenteTitulos);
      font-size: 35px;
      color: var(--colorAzulFrancia);
}
  /* boton sumar - restar */
  .detalle main .sumar-carrito {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .detalle main .sumar-carrito div {
      background-color: var(--colorAzulFrancia);
      color: white;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin: 2px; 
  }
  .detalle main .sumar-carrito input{
      width: 50px;
  }
  /* texto detalle de producto */
  .detalle main .detail {
      text-align: center;
      background-color: var(--colorCeleste);
      opacity: 80%;
      padding: 20px;
      margin-bottom: 20px;
  }
  /*titulo productos relacionados  */
  .detalle main .productosRelacionados {
      font-size: 15px;
      text-align: center;
      margin: 30px;
  }
  .detalle main article{
      text-align: center;
  }
  /* productos relacionados img */
  .detalle main article .prod-rel img {
      border-radius: 50px;
      border: 1px solid var(--colorNaranja);
      background-color: white;  
  }
  .detalle main article p{
      font-size: 25px;
      margin-top: 10px;
  }
  
  
  /* tablet */
  @media (min-width:426px) {
  
   /* botones */
  .detalle main button {
     width: 80px;
  }
  }
  
  
  /* desktop */
  @media (min-width:769px) {
  
       /* fuentes */
       .detalle h1 {
          font-size: 40px;
      } 
      .detalle h2 {
          font-size: 30px;
          margin-top: 30px;
      }
  
      .detalle h4 {
          font-size: 20px;
      }
  
      .detalle p {
          font-size: 20px;
          margin-bottom: 0;
  
      }
      /* producto principal */
      .detalle main section .imagen-princ {
          display: flex;
          flex-direction: column;
          width: 20%;
          position: relative;
          left: 20%;
          margin: 80px;
      }
      .detalle main section .textoDerecha {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 50%;
          top: 15%;
          margin: 60px;
      }
      .detalle main .contenedor{
          width: 15%;
      }
      /* .detalle main .prod-rel img {
          width: 15%;
      } */
      /* .detalle main article .prod-rel {
          
      }
   */
  }