* 
.login main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}
.login main section.container-image{
    display: none;
}
.login main small{
    color: red;
}
.login main .recordame{
    font-family: var(--fuenteSubtitulos);
    color: var(--colorAzulFrancia);
}
.login main button {
    padding: 9px;
    background-color: var(--colorAzulFrancia);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
}
.login main h2{
    color: var(--colorAzulFrancia);
    font-weight: bold ;
    /* text-align: center; */
    font-family: var(--fuenteSubtitulos);
    /* font-size: 50px; */
}
.login main .container input {
    width: 100%;
    padding: 10px;
    background-color: var(--colorGris);
    font-size: x-small;
    /* margin-bottom: 50px; */
    font: message-box;
    border:solid 1px var(--colorNaranja);

}

.login main h4{
    margin: 63px 73px;
    color: var(--colorCeleste);

}
.login main p{
    color: var(--colorCeleste);
}    
.login main a{

    color: var(--colorAzulFrancia);
}
.login main section{
    width: 100%;
    max-width: 800px;
    font-family: var(--fuenteTitulos);
}
.login main section form{
    width: 100%;
}
.login main section form .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
}
.login main label{
    color: var(--colorAzulFrancia);
}    
.login main section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login main section form .container{
    margin-bottom: 15px;
}
