<footer>
    <section class="foot">
        <ul class="lista">
           <li>Productos</li>
           <li><a href="/vistaProductos/Perro">Perros</a></li>
           <li><a href="/vistaProductos/Gato ">Gatos</a></li>
        </ul>
        <article class="compra">
            <h4>Donde Comprar</h4>
            <a href="https://goo.gl/maps/dBXKhgS7HfVfiNde8"><i class="fas fa-map-marker-alt"></i></a>
        </article>
        <article class="llamar">
            <h4>Contacto</h4>
            <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i></a>
            
        </article>
        <div class="logohome">
            <a href="/"><img src="img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
        </div>
    </section>
    <section class="pie">

        <article class="contactanos">
            <h4>¿Alguna duda?Contactanos</h4>
            <a href="mailto:user@server.com"><i class="fas fa-headset"></i></a><!-- contacto -->
        </article>
        <article class="maps">
            <a href="https://goo.gl/maps/dBXKhgS7HfVfiNde8"><i class="fas fa-map-marker-alt"></i></a>  
        </article>
        <article class="whatsapp">
           
            <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i></a>
        </article>
        <article class="gatito">
            <div class="kitty">
                <img src="img/gatito2.webp" alt="gatito tierno fondo amarillo">
            </div>
        </article>
        <p>Copyriht <i class="fas fa-copyright"></i> 2022 Mundo Pets | Todos los derechos reservados|</p>

    </section>

</footer>
           
<script src="/javascripts/glider.js"></script>
<script src="/javascripts/productos.js"></script>
<<<<<<< HEAD
<script src="/javascripts/register.js"></script>

   
=======
<script src="/javascripts/register.js"></script> 
>>>>>>> dd458f0f4a068cf043cf7bcd98d3d5acceb65ef2
           
          