<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'MundoPets'}) %> 
    
    <body class="home">

        <%- include('./partials/header') %>
    
        <main class="mainHome">
        <section class="banner">
            <h2>Pensando en ellos</h2>
            <img src="img/banner.new.home.jpg" alt="">
        </section>
        <section class="section1">
            
            <h3 class="marcas">NUESTRAS MARCAS</h3>
            
            <div class="logos">
                <img src="img/proplan_logo.png" alt="logo proplan">
                <img src="img/royalcanin_logo.png" alt=" logo royal canin">
                <img src="img/infinity_logo.png" alt="logo infinity ">
            </div>
        </section>


        
        <section class="destacadosP">
            <h3>Productos destacados</h3>
           </section> 
           <section class="carrouselProductos">
            <div class="glider-contain">
                <div class="glider">
                    <% productos.forEach(producto => { %>
                        <%- include('./partials/cards',{
                            id:producto.id,
                            imagenes:producto.imagen,
                            nombre:producto.titulo,
                            descuento:producto.descuento,
                            precio:producto.precio
                        }) %> 
                    <% }) %>
                </div>             
                <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>



        
        <div class="links">
            <section class="perro">
                <div class="dog">
                    <a href="/productos/Perro ">Perros</a>
                    <img src="img/perro1.png" alt="">
                </div>
              
              
            </section>
            <section class="gato">
               
                <div class="cat">
                    <a href="/productos/Gato ">Gatos</a>
                    <img src="img/gato1.png" alt="">
                </div>
            </section>
            <section class="nosotros">
                <div class="paw">
                    <i class="fas fa-paw"></i>
                    <a href="/nosotros">Sobre Nosotros</a>
                </div>
            </section>
            
            <section class="contacto">
                <div class="envelop">
                    <i class="fas fa-envelope"></i>
                    <a href="/contacto">Contacto</a>
                </div>
            </section>
        </div>
        <section class="quienSomos">
            <a href="/nosotros"> <img src="/img/quienes.somos.png" alt=""></a>
           
            <p>¿Quienes Somos? <br>
                Somos una empresa dedicada a la nutrición y venta de alimentos para mascotas.Te ofrecemos las mejores marcas de balanceado para perros y gatos.Siempre pensando en lo mejor para ellos,nuestros amigos de 4 patas.Brindamos  asesoramiento para elegir la mejor opción según las necesidades de  tu mascota.Tenemos amplia variedad de productos y contamos con el mejor precio del mercado.    </p>
        </section>

    </main>

    <%- include('./partials/footer') %>

    
</body>