<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sobre Nosotros'}) %> 
<body>
    
    <%- include('./partials/header') %>
    <main class="mainNosotros">
        <%- include('./partials/banner') %>


        <section class="quienesSomos">
            <h1>Mundo Pets</h1>
            <p> Somos una empresa dedicada a la nutrición y venta de alimentos para mascotas.Te ofrecemos las mejores marcas de balanceado para perros y gatos.Siempre pensando en lo mejor para ellos,nuestros amigos de 4 patas.Brindamos  asesoramiento para elegir la mejor opción según las necesidades de  tu mascota.Tenemos amplia variedad de productos y contamos con el mejor precio del mercado.
                Estamos juntos en esto.Y por eso es ahora donde creemos que la vida junto a las mascotas es mejor.
                Trabajamos día a día para brindar los mejores alimentos para tus mascotas,sabemos lo importante que ellos son.
                Queremos garantizar el cuidado y alimentación adecuada, es por ello que elegimos las mejores marcas del mercado.
            </p>
        </section>

       

       
    </main>
    <%- include('./partials/footer') %>
    
</body>
